/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .notes-container {
    margin-top: 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .button {
    cursor: pointer;
  }
  
  .hide {
    display: none;
  } 

  .disabled-select {
    font-weight: bold; /* Настройка жирного шрифта */
    color: #888; /* Настройка цвета текста для выделения */
    background-color: #f0f0f0; /* Настройка фона для выделения */
    cursor: not-allowed; /* Изменение курсора, чтобы показать, что элемент неактивен */
  }
  
  